{% extends "base.html" %}

{% load static %}

{% block content %}
<br>

<div class="container bg-white shadow-md p-3 form-layout">

    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Email with verification sent!</h4>
        <p>
            A confirmation email has been sent to your email address. Please check your email and click on the confirmation link to complete the registration. Check spam if you did not get email.
        </p>
    </div>
</div>

<br>

{% endblock %}
